:root {
  /* шрифты */
  --main-font: 'Inter';
  --accent-font: 'PressStart2P-Regular';

  /* цвета */
  --bg-color: #d3d3d3;
  --accent-color: #000;
  --border-color: #000;
  --mix-blend-color: #fff;
  --stroke-color: #fff;
  --heart-color: red;

  /* фон */
  --linear-gradient-first: #e7e7e7;
  --linear-gradient-second: #1a1a1a;

  /* веса шрифта */
  --header-weight: 700;
  --text-weight: 400;

  --border-color: #000;
}
